@import url('https://fonts.googleapis.com/css2?family=open+sans:800&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'open sanse' + sans-serif;
    margin: 0;
}
/* .nav a{
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;


} */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    height: 100vh;
}
#page-1, nav a:nth-of-type(1){
    background-color: #eea40f;
}
#page-2, nav a:nth-of-type(2){
    background-color: #1d15bf;
}
#page-3, nav a:nth-of-type(2){
    background-color: #ee0eb2;
}
#page-4, nav a:nth-of-type(2){
    background-color: #eef604;
}